<script src="node_modules/chart.js/src/chart.js"></script>

<div *ngIf="resultBackFromGettingPlayers == true && experiencedProblemWithGettingPlayers == true">
  <div class="alert alert-danger">
    <h1>Problemer med at hente data fra serveren</h1>
    <p>Listen over spillere kunne IKKE hentes fra serveren, og programmet kan derfor ikke køre.</p>
    <p>Tjek at der er forbindelse til serveren, og genindlæs så siden.</p>
    <p>(Undlad venligst at forsøge at oprette spillere eller lignende, før problemet er fikset, og siden genindlæst)</p>
  </div>
</div>
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>Tilgængelige spillere</h4>
          </div>
          <div class="panel-body">
            <availablePlayers></availablePlayers>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div style="display: flex; flex-direction: column;" class="panel-primary panel">

          <div style="color: #fff; background-color: #337ab7; border-color: #337ab7; display: flex;">
            <h2 style="margin: 10px auto;">Kampe</h2>
          </div>
          <games-overview style="margin: 10px auto;"></games-overview>
        </div>
        <div class="panel panel-primary" align="center">
          <div class="panel-heading">
            <h4>Tidstagning</h4>
          </div>
          <div class="panel-body">
            <countdown></countdown>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>RFID Registrering</h4>
          </div>
          <div class="panel-body">
            <rfid-registration></rfid-registration>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>Ranglister</h4>
          </div>
          <div class="panel-body">
            <RankingListComponent></RankingListComponent>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>Seneste individuelle resultater</h4>
          </div>
          <div class="panel-body">
            <individualResults [players]="players()"></individualResults>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>Tidligere kampe</h4>
          </div>
          <div class="panel-body">
            <previous-games></previous-games>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>Træningsflid</h4>
          </div>
          <div class="panel-body">
            <training-overview [players]="players()"></training-overview>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
